<!DOCTYPE html>
<html>
<head>
	<title>Expense Manager</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="/css/query.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/cfc8a28006.js" crossorigin="anonymous"></script> 
</head>
<body>

    
        <h1>Welcome to your personal expense manager!!</h1>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
            <li class="nav-item">
              <a class="nav-link active" href="/query/Day">Daywise</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/query/Month">Monthwise</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/query/Year">Yearwise</a>
            </li>
          </ul>
        
        

    

        <form action="/search/<%= query_name %>" method="get">

        <% if(query_name=="Day"){ %>
            <div class="form-field">
                <label for="Date">Date</label>
                <input type="date"name="Date" id="Date" required>
                <button type="submit">Search</button>
            </div>
        <% } %>
    
        <% if(query_name=="Month"){ %>
            <div class="form-field">
                <label for="Month">Month</label>
                <input type="month" name="Month" id="Month" required>
                <button type="submit">Search</button>
            </div>
        <% } %>
    
        <% if(query_name=="Year"){ %>
          <div class="form-field">
            <label for="Year">Year</label>
            <input type="number" name="Year" id="Year" min="1900" max="2021" step="1" value=<%= curr_year %>  required>
            <button type="submit">Search</button>
          </div>
        <% } %>


        </form>


    
       

</body>
</html>